.hide
{
	display:none;
}

#from.red-placeholder::-webkit-input-placeholder {
    color: red;
}

#to.red-placeholder::-webkit-input-placeholder {
    color: red;
}

#pick_up_city.red-placeholder::-webkit-input-placeholder {
    color: red;
}

#visiting_city.red-placeholder::-webkit-input-placeholder {
    color: red;
}

a:hover { 
    background-color: yellow;
}

.buttonColor{
	background: #FDF5E6;
}

header .websiteView {
    padding-top: 10px;
    padding-bottom: 10px;
}

header .mobileView {
    padding-top: 10px;
    padding-bottom: 10px;
}

.websiteView{
display:none;
}

.mobileView{
display:none;
}

hr{
	background-color: #18bc9c;border-width:3;
}


