.custom-dropdown__wrapper {
            position: relative;
            width: 150px;
            height: 30px;
        }
        
        .custom-dropdown__button {
            height: 26px;
            width: 100%;
            border: 1px solid #000;
            padding: 3px 10px;
            box-sizing: border-box;
        }
        
        span.custom-dropdown__button__arrow {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 6px 0px 6px;
            border-color: #000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            position: absolute;
            top: 9px;
            right: 10px;
        }
        
        ul.custom-dropdown {
            list-style: none;
            width: 100%;
            border: 1px solid #000;
            position: absolute;
            top: 25px;
            padding: 0;
            / display: none; /
            
            margin: 0;
        }
        
        .custom-dropdown__wrapper * {
            box-sizing: border-box;
        }
        
        li.custom-dropdown__list-tiem {
            height: 30px;
            border-bottom: 1px solid #000;
            padding: 5px 10px;
        }
        
        li.custom-dropdown__list-tiem:last-child {
            border-bottom: none;
        }