.login-container .form-container .login-heading{color: #4f4e4d; font-size: 26px;}
.login-container .form-container ul li{ float: left; margin-top: 15px; width: 90%;}
.login-container .form-container ul li input{width:79%; padding: 0 7px 0 7px; color: #909193; border: none;}
.login-container .form-container ul li .input-bg{background: #fff; width: 100%; border: 1px solid #b5b3b4;-webkit-box-shadow: inset 0px 6px 2px 0px #eee;  -moz-box-shadow: inset 0px 6px 2px 0px #eee;  box-shadow: inset 0px 6px 2px 0px #eee;}
.login-container .form-container ul li .uname-img{background: url(../images/login-icon.png) no-repeat 0px 0px;  float: left;    height: 48px;    width: 57px;}
.login-container .form-container ul li .password-img{background: url(../images/login-icon.png) no-repeat 0 -63px;}
.login-container .form-container ul li input.u-name{float:right; background: none;  height: 48px;}
.login-container .form-container button.login{margin-top: 20px; background: #4169E1; color: #ffffff; width: 90%; border: 1px solid #84817a; font-size: 16px; font-weight: bold; height: 49px;  box-shadow: 0 0 0 #ffffff;}


<!--for registering-->

.login-container-register .form-container .login-heading{color: #4f4e4d; font-size: 26px;}
.login-container-register .form-container ul li{ float: left; margin-top: 15px; width: 100%;}
.login-container-register .form-container ul li input{width:79%; padding: 0 7px 0 7px; color: #909193; border: none;}
.login-container-register .form-container ul li .input-bg{background: #fff; width: 100%; border: 1px solid #b5b3b4;-webkit-box-shadow: inset 0px 6px 2px 0px #eee;  -moz-box-shadow: inset 0px 6px 2px 0px #eee;  box-shadow: inset 0px 6px 2px 0px #eee;}
.login-container-register .form-container ul li .uname-img{background: url(../images/login-icon.png) no-repeat 0px 0px;  float: left;    height: 48px;    width: 57px;}
.login-container-register .form-container ul li .password-img{background: url(../images/login-icon.png) no-repeat 0 -63px;}
.login-container-register .form-container ul li input.u-name{float:right; background: none;  height: 48px;}
.login-container-register .form-container button.login{margin-top: 20px; background: #4169E1; color: #ffffff; width: 100%; border: 1px solid #84817a; font-size: 16px; font-weight: bold; height: 49px;  box-shadow: 0 2px 0 #76862E;}