.hide
{
	display:none;
}

#from.red-placeholder::-webkit-input-placeholder {
    color: red;
}

#to.red-placeholder::-webkit-input-placeholder {
    color: red;
}

a:hover { 
    background-color: yellow;
}

.buttonColor{
	background: #FDF5E6;
}