<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Error Servlet</servlet-name>
		<servlet-class>com.razorthink.runtime.ErrorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Error Servlet</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>

	<error-page>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>411</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>506</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>507</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>508</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>509</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>510</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>511</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>512</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>513</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>514</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>515</error-code>
		<location>/error</location>
	</error-page>

	<!-- <filter> <filter-name>AuthFilter</filter-name> <filter-class>com.inblox.webapp.init.AuthFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>AuthFilter</filter-name> <url-pattern>/rest/*</url-pattern> 
		</filter-mapping> -->

	<listener>
		<listener-class>com.yathraCity.services.webapp.init.WebAppInit</listener-class>
	</listener>

	<servlet>
		<servlet-name>Restful App</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Restful App</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>